<section id="sidebar">
  <!-- Intro -->
	{{> sidebar/intro}}
  <!-- Mini Posts -->
  <section>
    <div class="mini-posts">
			{{#each miniPosts}}
				{{> sidebar/miniPost this}}
			{{/each}}
    </div>
  </section>
  <!-- Posts List -->
  <section>
    <ul class="posts">
			{{#each postList}}
				{{> sidebar/postList this}}
			{{/each}}
    </ul>
  </section>
	{{> sidebar/about}}
  <!-- Footer -->
	{{> sidebar/footer}}
</section>
