<section id="sidebar">
	{{> sidebar/intro config.creator}}
  <section>
    <div class="mini-posts">
			{{#each miniPosts}}
				{{> sidebar/miniPost}}
			{{/each}}
    </div>
  </section>
  <section>
    <ul class="posts">
			{{#each postList}}
				{{> sidebar/postList}}
			{{/each}}
    </ul>
  </section>
	{{> sidebar/about config.about}}
	{{> sidebar/footer config.socialMedias}}
</section>
