<section id="sidebar">
  <!-- Intro -->
	{{> sidebar/intro config.creator}}
  <!-- Mini Posts -->
  <section>
    <div class="mini-posts">
			{{#each miniPosts}}
				{{> sidebar/miniPost}}
			{{/each}}
    </div>
  </section>
  <!-- Posts List -->
  <section>
    <ul class="posts">
			{{#each postList}}
				{{> sidebar/postList}}
			{{/each}}
    </ul>
  </section>
	{{> sidebar/about}}
  <!-- Footer -->
	{{> sidebar/footer}}
</section>
