<section id="sidebar">
  <!-- Intro -->
	{{> sidebar/intro}}
  <!-- Mini Posts -->
  <section>
    <div class="mini-posts">
			{{> sidebar/miniPost}}
    </div>
  </section>
  <!-- Posts List -->
  <section>
    <ul class="posts">
			{{> sidebar/postList}}
    </ul>
  </section>
	{{> sidebar/about}}
  <!-- Footer -->
	{{> sidebar/footer}}
</section>
