node_modules/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
package-lock.json

light
# TODO: Build the front-end code instead of using sass middleware
main.css
*.css.map
encryption/
