node_modules/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
package-lock.json

docs
light
public/assets/sass/output
public/assets/js/output
views/templates/layout-fingerprinted
