<!-- Wrapper -->
<div id="wrapper">
	{{> header}}

	{{> menu}}
  <!-- Main -->
  <div id="main">

		{{> post}}

		<!-- Pagination -->
    <ul class="actions pagination">
      <li>
        <a href="" class="disabled button large previous">
          Previous Page
        </a>
      </li>
      <li>
        <a href="#" class="button large next">
          Next Page
        </a>
      </li>
    </ul>
  </div>

  {{> sidebar}}
</div>
