<!DOCTYPE html>
<!-- Future Imperfect by Pixelarity pixelarity.com | hello@pixelarity.com License: pixelarity.com/license -->
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=UA-135903447-3"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-135903447-3');
		</script>
		<title>{{ config.siteTitle }}</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, user-scalable=no"
		/>
		<link rel="icon" type="image/png" href="/images/favicon/favicon.ico" />
		<link rel="manifest" href="/images/favicon/site.webmanifest" />
		<link rel="stylesheet" href="/assets/sass/output/main.css" />
	</head>
	<body class="is-preload {{#if isSinglePost}}single{{/if}}">
		{{!-- Body --}}
		<div id="wrapper">
			{{> header}}
			<!-- hide menu, there are no content for those pages -->
			{{!-- {{> menu}} --}} {{{body}}}
		</div>
		{{!-- Scripts --}}
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
	</body>
</html>
