<div class="stars">
  <div class="central-body">
		<h2 class="not-found-page-title">{{t "i18n-404-page-title"}}</h2>

    <a
      href="/"
      class="btn-go-home"
    >
      {{t "i18n-return-home"}}
    </a>
  </div>
  <div class="objects">
    <img
      class="object_rocket"
      src="images/404/rocket.svg"
      width="40px"
     />

    <div class="earth-moon">
      <img
        class="object_earth"
        src="images/404/earth.svg"
        width="100px"
       />

      <img
        class="object_moon"
        src="images/404/moon.svg"
        width="80px"
       />

    </div>
    <div class="box_astronaut">
      <img
        class="object_astronaut"
        src="images/404/astronaut.svg"
        width="140px"
       />

    </div>
  </div>
  <div class="glowing_stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
</div>
