<!DOCTYPE html>
<!-- Author of this page: [Saleh R. Qureshi](http://salehriaz.com/). [Codepen link](https://codepen.io/salehriaz/pen/erJrZM) -->
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=UA-135903447-3"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-135903447-3');
		</script>
		<title>{{ config.siteTitle }}</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, user-scalable=no"
		/>
		<link rel="stylesheet" href="/assets/sass/404.css" />
	</head>
	<body class="bg-purple">
		{{{body}}}
	</body>
</html>
