<section class="blurb">
  <h2>
    {{t "i18n-sidebar-about"}}
  </h2>
  <p>
    {{this}}
  </p>
  <ul class="actions">
    <li>
      <a href="#" class="button">
        {{t "i18n-sidebar-learn-more"}}
      </a>
    </li>
  </ul>
</section>
