<section id="footer">
  <ul class="icons">
		{{#each this as |socialMedia|}}
			<li>
				<a href={{socialMedia.url}} class="fa-{{socialMedia.className}}">
					<span class="label">
						{{socialMedia.name}}
					</span>
				</a>
			</li>
		{{/each}}
  </ul>
  <p class="copyright">
    © From: renzhen1024.com
  </p>
</section>
