  <section id="intro">
    <a href="#" class="logo">
      <img src="images/logo.jpg" alt="" />
    </a>
    <header>
      <h2>
        Future Imperfect
      </h2>
      <p>
        Cubilia enim adipiscing orci faucibus at Vestibulum
      </p>
    </header>
  </section>
