<li>
  <article>
    <header>
      <h3>
        <a href="single.html">
          Lorem ipsum fermentum ut nisl vitae
        </a>
      </h3>
      <time class="published" datetime="2015-10-20">
        October 20, 2015
      </time>
    </header>
    <a href="single.html" class="image">
      <img src="images/pic08.jpg" alt="" />
    </a>
  </article>
</li>
