<section id="intro">
	<a href="#" class="logo">
		<img src="{{profileImage}}" alt="" />
	</a>
	<header>
		<h2>
			{{fullName firstName lastName}}
		</h2>
		<p>
			{{description}}
		</p>
	</header>
</section>
