<article class="mini-post">
	<header>
		<h3>
			{{title}}
		</h3>
		<time class="published" datetime="{{date}}">
			{{dateFormatter date}}
		</time>
	</header>
	<div class="mini-post-content">{{strPreview content previewLength=50}}</div>
</article>
