@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import '../vendors/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900');

/*
	Future Imperfect by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

// Breakpoints.

@include breakpoints(
  (
    xlarge: (
      1281px,
      1680px,
    ),
    large: (
      981px,
      1280px,
    ),
    medium: (
      737px,
      980px,
    ),
    small: (
      481px,
      736px,
    ),
    xsmall: (
      null,
      480px,
    ),
  )
);

// Base.

@import 'base/reset';
@import 'base/page';
@import 'base/typography';

// Component.

@import 'components/row';
@import 'components/author';
@import 'components/blurb';
@import 'components/box';
@import 'components/button';
@import 'components/form';
@import 'components/icon';
@import 'components/image';
@import 'components/list';
@import 'components/actions';
@import 'components/icons';
@import 'components/posts';
@import 'components/mini-post';
@import 'components/post';
@import 'components/section';
@import 'components/table';

// Layout.

@import 'layout/header';
@import 'layout/wrapper';
@import 'layout/main';
@import 'layout/sidebar';
@import 'layout/intro';
@import 'layout/footer';
@import 'layout/menu';

// Utils

@import 'utils';

// Custom

$header-image-width: 172px;

.header__image-container {
  display: inline-block;
  vertical-align: middle;
}

.header__image {
  width: $header-image-width;
  vertical-align: middle;
}

.single-post-content img {
  width: 100%;
  height: auto;
}

.mini-post-content {
  font-size: 0.8em;
  padding: 8px 14px;
}

.mini-posts {
  $mini-posts-height: 600px;

  height: $mini-posts-height;
  padding-top: 16px;
  overflow-y: scroll;

  -webkit-overflow-scrolling: touch;
  // stylelint-disable-next-line function-linear-gradient-no-nonstandard-direction
  mask-image: -webkit-linear-gradient(
    to bottom,
    transparent,
    white 10px,
    white 90%,
    transparent
  );
  // stylelint-disable-next-line function-linear-gradient-no-nonstandard-direction
  mask-image: -moz-linear-gradient(
    to bottom,
    transparent,
    white 10px,
    white 90%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    white 10px,
    white 90%,
    transparent
  );
  // stylelint-disable-next-line function-linear-gradient-no-nonstandard-direction
  -webkit-mask-image: -webkit-linear-gradient(
    to bottom,
    transparent,
    white 10px,
    white 90%,
    transparent
  );
  // stylelint-disable-next-line function-linear-gradient-no-nonstandard-direction
  -webkit-mask-image: -moz-linear-gradient(
    to bottom,
    transparent,
    white 10px,
    white 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    white 10px,
    white 90%,
    transparent
  );

  @include breakpoint('<=medium') {
    $mini-posts-mobile-height: 240px;

    height: $mini-posts-mobile-height;
    padding-left: 8px;
    padding-top: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    // stylelint-disable-next-line function-linear-gradient-no-nonstandard-direction
    mask-image: -webkit-linear-gradient(
      to right,
      transparent,
      white 10px,
      white 90%,
      transparent
    );
    // stylelint-disable-next-line function-linear-gradient-no-nonstandard-direction
    mask-image: -moz-linear-gradient(
      to right,
      transparent,
      white 10px,
      white 90%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      white 10px,
      white 90%,
      transparent
    );
    // stylelint-disable-next-line function-linear-gradient-no-nonstandard-direction
    -webkit-mask-image: -webkit-linear-gradient(
      to right,
      transparent,
      white 10px,
      white 90%,
      transparent
    );
    // stylelint-disable-next-line function-linear-gradient-no-nonstandard-direction
    -webkit-mask-image: -moz-linear-gradient(
      to right,
      transparent,
      white 10px,
      white 90%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      white 10px,
      white 90%,
      transparent
    );

    .mini-post {
      $mini-post-mobile-height: 200px;

      display: inline-block;
      vertical-align: top;
      white-space: normal;
      width: 85%;
      margin-right: 20px;
      height: $mini-post-mobile-height;
    }
  }
}

// Override
.mini-posts-header {
  padding-left: 14px;
}

.mini-post header {
  padding: 8px 14px;
}

.comment {
  padding-bottom: 0;

  .comment-header {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .comment-meta {
    padding: 3.75em 3em 1.75em 3em;
    border-right: solid 1px rgba(160, 160, 160, 0.3);
    min-width: 17em;
    text-align: left;
    width: 17em;
  }

  .comment-author {
    justify-content: flex-start;
  }

  .comment-content p {
    font-size: 0.8em;
  }

  .comment-content img:not(.emoji) {
    width: 100%;
    height: auto;
  }

  @include breakpoint('<=medium') {
    .comment-meta {
      padding-top: 0;
      border-right: 0;
      text-align: center;
      width: 100%;
    }

    .comment-author {
      justify-content: center;
    }

    .title.comment-content {
      text-align: left;
    }
  }
}

// Remove meta data on some of the image return from API
.lightbox .meta.meta {
  display: none;
}

.tag {
  padding: 4px;
  color: #fff;
  font-weight: 700;
}
