<section id="menu">
  <section>
		<h2>{{t "i18n-post-subcategory"}}</h2>
    <ul class="links">
      {{#each this as |category|}}
        <li>
          <a href="/?subcategory={{category.name}}">
            <h3>
              {{category.name}}
            </h3>
            <p>
              {{category.description}}
            </p>
          </a>
        </li>
      {{/each}}
    </ul>
  </section>
</section>
