<section id="sidebar">
	{{> sidebar/intro creator}}
	<section>
		<div class="mini-posts">
			<h3 class="mini-posts-header">
				{{t "i18n-sidebar-latest-comments"}}
				<span class="mini-posts-header-desktop">
					{{t "i18n-sidebar-latest-comments-scroll-to-see-more"}}
				</span>
			</h3>
			{{#each miniPosts}} {{> sidebar/miniPost}} {{/each}}
		</div>
	</section>
	<section>
		<h3>{{t "i18n-sidebar-recommend-users"}}</h3>
		<ul class="posts">
			{{#each activeUsersList}} {{> sidebar/activeUsersList}} {{/each}}
		</ul>
	</section>
	{{> sidebar/about about}} {{> footer socialMedias}}
</section>
